<%= form_with(model: [@reviewable, @review], local: true) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, 'error') %> prohibited this review from being saved:</h2>
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="r-div">Reviews and Feedbacks </div>
  <div class="pack-review">
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 4 %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, min: 1, max: 5 , class: "rating-input" %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit Review', class: "new-restaurant-button" %>
  </div>
<% end %>
</div>
